#post-detail {
  margin: 40px auto;
  padding: 30px;
  width: 700px;
  background-color: #f6f9ff;
  border: 1px solid #b3c8ff;
  border-radius: 12px;
}

#post-detail-title {
  font-size: 27px;
  color: #96b4ff;
  margin-bottom: 10px;
  font-weight: bold;
}

#post-detail-date {
  font-size: 14px;
  color: #6c6c6c;
  margin-bottom: 20px;
}

#post-detail-content {
  font-size: 17px;
  color: #6c6c6c;
  white-space: pre-line;
  border-top: 1px solid #b3c8ff;
  padding-top: 20px;
}

.detail-button {
  margin-top: 30px;
  background-color: #f6f9ff;
  color: #96b4ff;
  border: 1.5px solid #94b3ff;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 550;
  margin-right: 10px;
}

.detail-button:hover {
  background-color: #94b3ff;
  color: white;
}
