#title {
  width: 500px;
  padding: 15px;
  outline: none;

  border: 1px solid #94b3ff;
  border-radius: 6px;
}

#content {
  width: 500px;
  height: 200px;
  padding: 15px;
  resize: none;
  outline: none;
  border: 1px solid #94b3ff;
  border-radius: 6px;
}

#title,
#content {
  font-size: 15px;
  background-color: #f3f6ff;
}

#button {
  width: 100px;
  padding: 10px;
  background-color: #b3c8ff;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 6px;
}

#button:hover {
  background-color: #94b3ff;
}

#post-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 500px;
}

#two-button {
  display: flex;
  justify-content: space-evenly;
}
